.Breadcrumb {
  border-bottom: 1px dotted #646464;
  *{
      font-size: 0.875rem;
  }
 &__item{}
 &__link{
   color: #50992E;
   &:after{
     content: '/';
     margin: 0 5px;
     color: black;
   }
 }
}