.custom-container {
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.custom-img-container-student {
  background: #52ACAC;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-img-student {
  height: 50%;
}

.custom-content {
  background-color: #cad0dc;
  width: 23%;
  height: 300px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}
