.contHome{
    /* background-color:purple; */
}

.contBotones{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    /* margin: 10px; */
    
    
}

.contCuadro{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 0;
    /* margin: 10px; */
}
.contCarrusel{
    background-color: white;
    
    padding: 0;
    /* margin: 10px; */
}

.title, .home-subtitle, .home-content, .lateral-button, .login-button{
    
    border-radius: 10px;
    /* padding: 0.5em; */
    margin: 10px;
    
}

.title, .home-subtitle, .lateral-button, .login-button{
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.title, .home-subtitle, .login-button{
    background-color: #182f58;
    color: white;
}

.title {
    font-size: 2.5em;
}

.home-subtitle {
    font-size: 2em;
}

.home-content {
    background-color: #bfbfbf;
    font-size: 1.3em;
    font-weight: normal ;
    text-align: justify;
    
}

.lateral-button{
    background-color: #b4bac8;
    font-size: 2em;
    color: white;
    width: 400px;
    height: 90px;
    
    cursor: pointer;
    margin: 5px 0;

}

.lateral-button:hover{
    background-color: #afb5c3;
    cursor: pointer;
}

.lateral-button:active{
    background-color: #aab0be;
    cursor: pointer;
}

.login-button{
    font-size: 2em;
    
    cursor: pointer;
    
    margin: 5px 0;
}

.login-button:hover{
    background-color: #18284e;
}

.login-button:active{
    background-color: #192244;
}

.search-container{
    margin: 10px;
}

.search-input{
    border-radius: 8px;
}

