/* contenedor principal */
.contAssign{
    background-color:rgb(196, 196, 196);
    align-items: center;
    text-align: center;
    width: 1200px;
    height: 670px ;
    border-radius: 10px;
}

/* contenedor secundario */
.contAssign2{
    /* background-color: red; */
    height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;

}

.contAssign3{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    height: 60px;
    font-size: 1.5em;
    
    
    
    margin: 10px;
    justify-content: space-between;
    
}

.contAssign4{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    height: 110px;
    font-size: 1.5em;
    
    
    
    margin: 10px;
    justify-content: space-between;
    
}

/* contenedor titulos */
.contAssignTitulo{
    background-color: #8ca2d3;
    width: 380px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 60px;
    color: white;

}

/* contenedor contenidos */
.contAssignContenido{
    background-color: white;
    width: 900px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 60px;
    text-align: center;
    align-items: center;
    
}

.contAssignTask{
    background-color: #8ca2d3;
    width: 180px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 100px;
    color: white;

}

.contAssignContenidoTask{
    background-color: white;
    width: 1100px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height:100px;
     ;
}

.contAssignDateT{
    background-color: #8ca2d3;
    width: 160px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 50px;
    color: white;

}

.contAssignDateC{
    background-color: white;
    width: 230px;
    border-radius: 10px;
    padding: 0.25em ; 
    margin: 10px;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* boton Enviar */
.EnviarTarea-button{
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    background-color: #182f58;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 15px 20px;
    
}

.EnviarTarea-button:hover {
    background-color: #19284e;
    transform: scale(1.08);
    
}