.contAssign{
    background-color:gray;
}

.contAssign2{
    /*background-color:;*/
    height: 400px;
    margin: 5px 0;
    
}

.firstC{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 1.5em;
    margin: 5px 0;
    
    


}

.Course{
    background-color: #b4bac8;;
    width: 300px;
    justify-content: center; 
    align-items:center;

}