/* contenedor principal */
.contStuOutStu{
    background-color:rgb(196, 196, 196);
    align-items: center;
    text-align: center;
    height: 1500px;
    margin: 10px ;
    width: 1200px;
    border-radius: 10px;
}

/* contenedor secundario */
.contStuOut2{
    /* background-color: blue; */
    height: 1200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
}

/* contenedor primeros dos botones */
.contStuOut3{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    height: 70px !important;
    font-size: 1.5em;
    margin: 10px;
    justify-content: space-between;
    
}

/* contenedor descripcion */
.contStuOut4{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    height: 110px;
    font-size: 1.5em;
    margin: 10px;
    justify-content: space-between;
    
}

/* contenedor radiobutton */
.contStuOut5{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    height: 110px;
    font-size: 1.5em;
    height:500px;
    margin: 10px;
    justify-content: space-between;
    
}

/* contenedor upload */
.contStuOut6{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    height: 260px;
    font-size: 1.5em;
    margin: 10px;
    
    
}

/* contenedor dos primeros titulos */
.contStuOutTitulo{
    background-color: #8ca2d3;
    width: 380px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 60px !important;
    color: white;
}

/* contenido a los dos primeros titulos */
.contStuOutContenido{
    background-color: white;
    width: 900px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height: 60px !important;
}

/* contenedor texto */
.ContStuOutTex{
    background-color: white;
    width: 1300px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height:100px;
    text-align: left;
}

/* contenedor radiobutton */
.ContStuOutTex2{
    background-color: white;
    width: 1300px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    
    text-align: left;
}

.contStuOutUpload{
    background-color: white;
    width: 1150px;
    border-radius: 10px;
    padding: 0.5em; 
    margin: 10px;
    height:240px;
    text-align: center;
}

/* boton calificar */
.calificarTarea-button{
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    background-color: #182f58;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 15px 20px;
    
}

.calificarTarea-button:hover {
    background-color: #19284e;
    transform: scale(1.08);
}