
:root {
  /*=====================
  Colors
  =======================*/
  //colores
  --gris_text_unal: #ddd;
  --gris_unal: #999;
  --gris_context: #666;
  --gris-header: #484444e7;
  --blanco: #fff;
  --aspirantes: #2A044A;
  --estudiantes: #0B2E59;
  --egresados: #0D6759;
  --docentes: #7AB317;
  --administrativos: #5e9281;
  --black-l: rgb(48, 48, 48);
  --verde_unal: #94B43B;
  --verde_unal_dark: #667c29;
  --negro_unal: #333;
  //Added
  --menuBurguer_bg: #595555;
  --accebility-btn-bg-color: #292929;
  --accebility-btn-bg-color--hover: #0763c8;
}




